*.H5
*.zip
*dataset*.pickle
Dataset/PetImages/Cat
Dataset/PetImages/Dog
Dataset/PetImages 3 class/Cat
Dataset/PetImages 3 class/Dog
Web/__pycache__
Web/CNN_V2_4_0_1_91/_test_images160.pickle
Web/CNN_V2_4_0_1_91/_test_labels160.pickle
Web/CNN_V2_4_0_1_91/_val_images160.pickle
Web/CNN_V2_4_0_1_91/_val_labels160.pickle
